/* General styles */
body {
    font-family: Arial, sans-serif;
  }
  
  /* Style for the table rows */
  .table-row {
    transition: background-color 0.3s ease;
  }
  
  .table-row:hover {
    background-color: #444; /* Slightly lighter color on hover */
  }
  
  /* Style for the table cells */
  .table-cell {
    cursor: pointer;
    background-color: #000;
    color: #fff !important;  /* Ensure text color is white */
    min-width: 150px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease-in-out;
  }
  
  .table-cell.filtered {
    background-color: #444;
    color: #fff !important; /* Ensure text color is white */
  }
  
  .table-cell:hover {
    background-color: #222; /* Slightly lighter color on hover */
    color: #fff !important; /* Ensure text color remains white */
  }
  
  .table-cell:active {
    transform: scale(0.95);
    color: #fff !important; /* Ensure text color remains white */
  }
  
  /* Style for the reset button */
  .reset-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    margin-top: 20px;
  }
  
  .reset-button:hover {
    background-color: #0056b3;
  }
  
  .reset-button:active {
    transform: scale(0.95);
  }
  
  /* Style for the track counter */
  .track-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }
  
  .unique-values-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .unique-value-column {
    flex: 1;
    min-width: 150px;
    margin: 10px;
  }
  
  .unique-value {
    background-color: transparent; /* Remove background color */
    color: #000; /* Set text color to black */
    padding: 5px;
    margin: 0; /* Remove margin */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #000; /* Optional: Add a border to make it stand out */
  }
  
  .unique-value span {
    margin-left: auto; /* Ensure the count is aligned to the right */
    padding-left: 10px; /* Optional: Add some padding for better spacing */
  }
  
  .unique-value.selected {
    font-weight: bold; /* Highlight selected value */
    color: darkblue; /* Optional: Change color for selected value */
  }
  /* Add hover effects */
.table-header:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.unique-value:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

  
  
  